<md-card class="example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Users</md-card-title>
        <md-card-subtitle>Sample Image</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../Images/users.png">
    <md-card-content>
        <p>
            In this bla bla bla, you can bla bla bla and bla editing user.
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>

<md-card class="example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Users</md-card-title>
        <md-card-subtitle>Sample Image</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../Images/users.png">
    <md-card-content>
        <p>
            In this bla bla bla, you can bla bla bla and bla editing user.
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>

<md-card class="example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Users</md-card-title>
        <md-card-subtitle>Sample Image</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../Images/users.png">
    <md-card-content>
        <p>
            In this bla bla bla, you can bla bla bla and bla editing user.
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>